@use "../variables" as *;


dialog {
  z-index: 10;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: $semi-transparent;
  border: $thin * 2 solid $transparent;
  backdrop-filter: blur($standard);
  transition: display 0.5s allow-discrete;
  animation: closeDialog 0.5s ease-in-out;

  &[open] {
    animation: openDialog 0.5s ease-in-out;
  }

  div {
    width: 100%;
    height: 100%;

    .close-dialog {
      background-color: rgba(0, 0, 0, 0);
      font-size: $standard * 2;
      outline: none;
    }
  
    section {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      align-items: center;
      height: 100vh;
      color: $primary;
      line-height: $standard * 2;
      text-align: center;

      h1 {
        font-size: $standard * 1.5;
        font-weight: bold;
        margin-bottom: $large / 2;
      }

      h2 {
        margin-top: $large / 2;
        font-size: $standard / 1.5;
        opacity: 0.5;
      }

      p, ul {
        margin-bottom: $standard / 2;
      }

      ul {
        padding: $standard;
        background-color: $semi-transparent;
        border-radius: $standard;
      }

      strong {
        font-weight: bold;
      }
  
      .win-info {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: $standard * 2;
        padding-block: $large;
      }
  
      .dialog-buttons {
        display: flex;
        justify-content: space-around;
        width: 100%;
  
        button {
          padding: $standard;
          background-color: $menu;
          color: $light;
          font-weight: bold;
          height: $large / 1.5;
        }
      }
    }
  }
}


@media screen and ($pc) { 
  dialog {
    width: $pc-item-size * 13;
    height: 11 * $pc-item-size;
    border: $thin solid $gray;
    border-radius: $standard * 1.5;
    animation-name: closeDialogPC;

    &[open] {
      animation-name: openDialogPC;
    }

    &::backdrop {
      background: $semi-transparent;
    }

    :is(section, .dialog-buttons) {
      height: auto;

      .dialog-buttons {
        margin-top: $large;
      }
    }
  }
}