@use "../variables" as *;


.playground {
  display: grid;
  grid-template-rows: repeat(11, $item-size);
  width: 100vw;
  margin-inline: auto;
  margin-block: $standard;
  background-image: url('/cover.png');
  background-size: contain;
  outline: $thin solid $dark;
  filter: drop-shadow(0 0 $thin $dark);

  .field-item {
    width: $item-size;
  }
}


@media screen and ($pc) { 
  .playground {
    grid-template-rows: repeat(11, $pc-item-size);
    width: $pc-item-size * 13;
    outline: $standard / 1.5 solid $transparent;
    border-radius: $standard / 3;
    margin-block: $standard * 2;
    flex-shrink: 0;

    .field-item {
      width: $pc-item-size;
    }
  }
}