@use "../variables" as *;

.title-picture {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  transition: all 1s ease-out;

  h1, h2 {
    position: fixed;
    width: 100vw;
    text-align: center;
    color: $semi-transparent;
    font-weight: bold;
  }

  h1 {
    top: $large;
    font-size: $large;
    color: $menu;
    -webkit-text-stroke: $thin * 2 $red;
    text-shadow: 0 0 $standard $dark;
  }

  h2 {
    bottom: $standard;
    font-size: $large / 2;
    line-height: $large;
    animation: textPulse 2.5s ease-in-out infinite;
  }
  

  img {
    aspect-ratio: initial;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and ($pc) { 
  .title-picture {
    h1 {
      top: $standard;
      font-size: $large * 1.5;
    }
  }
}