@use "reset";
@import "variables";


* {
  font-family: $main-font;

  img {
    height: auto;
    aspect-ratio: 1/1;
  }
  
  button {
    color: inherit;
    font-size: inherit;
  }
  
  p {
    cursor: default;
  }
}

// General Mobile view

html {
  font-size: $standard;
  line-height: $standard * 1.5;
  color: $primary;
  background-color: $background;

  .playground {
    display: flex;
    flex-flow: column nowrap;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-inline: $standard;
      padding-block: $standard / 2;
      background-color: $menu;
      color: $light;
      font-weight: $bold;

      .title {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        img {
          width: $standard * 0.85;
          opacity: 0.5;
          cursor: pointer;

          &:hover, &:active {
            opacity: 1;
          }
        }
      }

      div {
        display: flex;
        align-items: center;
        gap: $standard / 2;

        .level {
          padding: $standard / 2;
          border: $thin solid $dark;
          border-radius: $standard / 2;
          background-color: $primary;
          font-weight: $bold;
          outline: none;
          cursor: context-menu;

          &:hover, &:active {
            opacity: 0.85;
          }
        }
      }
    }
    
    .field {
      display: grid;
      grid-template-rows: repeat(11, $item-size);
      width: 100vw;
      margin-inline: auto;
      margin-block: $standard;
      background-image: url('cover.jpg');
      background-size: contain;
      outline: $thin solid $dark;
      filter: drop-shadow(0 0 $thin $dark);
  
      .field-item {
        width: $item-size;
      }
    }

    .footer {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;

      .controls {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: $standard;
        color: $light;

        .moves {
          display: flex;
          gap: $standard;
          padding: $standard $standard * 2;
          background-color: $menu;
    
          .undo-move {
            width: $standard;
            height: $standard;
            cursor: pointer;
    
            &:hover, &:active {
              opacity: 0.5;
            }
          }
        }

        .restart {
          padding: $standard $standard * 2;
          background-color: $menu;
          line-height: inherit;

          &:hover, &:active {
            opacity: 0.75;
          }
        }
      }

      .mobile-controller {
        position: fixed;
        bottom: 0;
        margin-block: $standard;

        div {
          position: absolute;
          opacity: 0.75;

          img {
            display: none;
          }

          .visible {
            display: block;
          }
        }

        img {
          width: 50vw;
        }
      }

      .play-instructions {
        width: 100vw;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        gap: $standard;
        margin: $standard;
        padding-inline: $large;

        .instruction {
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          gap: $standard * 2;

          strong {
            font-weight: $bold;
          }

          img {
            aspect-ratio: initial;
            width: $large / 2;
          }
        }
      }
    }
  }
}

// PC view

@media screen and ($pc) { 
  html {
    background-image: url('background.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-inline: $standard * 1.5;

    .playground {
      flex-direction: row;

      .header {
        flex-direction: column;
        justify-content: flex-start;
        outline: $standard / 1.5 solid $transparent;
        border-radius: $standard / 3;
        margin-block: $standard * 2;
        padding-block: $standard;
        max-height: 11 * $item-size;
        width: $large * 3;

        .title {
          font-size: $standard * 1.5;
          margin-bottom: $standard / 1.5;
          color: $primary;
        }

        ul {
          line-height: $standard * 2;

          .level {
            font-size: $standard * 0.9;
            padding: $standard / 2 $standard * 2;
            border: $thin / 2 solid $transparent;
            background-color: $semi-transparent;
            cursor: pointer;

            &:hover, &:active {
              opacity: 0.75;
            }
          }
        }
      }

      .field {
        grid-template-rows: repeat(11, $pc-item-size);
        width: $pc-item-size * 13;
        outline: $standard / 1.5 solid $transparent;
        border-radius: $standard / 3;
        margin-block: $standard * 2;
        flex-shrink: 0;

        .field-item {
          width: $pc-item-size;
        }
      }

      .footer {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        outline: $standard / 1.5 solid $transparent;
        border-radius: $standard / 3;
        margin-block: $standard * 2;
        padding-block: $standard;
        max-height: 11 * $item-size;
        width: $large * 3;
        background-color: $menu;

        .controls {
          flex-direction: column;
          
          .moves {
            background-color: $semi-transparent;
          }
  
          .restart {
            background-color: $semi-transparent;
          }
        }

        .play-instructions {
          flex-flow: column nowrap;
          font-size: $standard * 0.9;
          padding: $standard $standard * 2;
          background-color: $semi-transparent;
          margin-bottom: 0;
          width: $large * 2.5;

          .instruction {
  
            img {
              width: auto;
            }
          }

        }
      }
    }
  }
}


@media screen and ($mobile) {
  html {
    .playground {
      .field {
        margin-block: $standard * 1.5;
      }

      .footer {

        .controls {
          flex-direction: column;
        }
      }
    }
  }
}


@media screen and ($small-screen) {
  .mobile-controller {
    display: none;
  }
}