@use "reset";
@use "variables" as *;
@use "components";


* {
  font-family: $main-font;

  :where(img) {
    height: auto;
    aspect-ratio: 1/1;
  }
  
  :where(p) {
    cursor: default;
  }

  :where(button, li) {
    color: inherit;
    font-size: inherit;
    transition: all 0.15s ease-out;
  
    &:hover, &:active {
      opacity: 0.75;
      transform: scale(1.05);
    }
  }
}


html {
  font-size: $standard;
  line-height: $standard * 1.5;
  color: $primary;
  background-color: $background;

  .game {
    display: flex;
    flex-flow: column nowrap;
  }
}


@media screen and ($pc) { 
  html {
    background-image: url('background.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-inline: $standard * 1.5;
    overflow-y: hidden;

    .game {
      height: 100vh;
      flex-direction: row;
      align-items: center;
    }
  }
}