$primary: #dedede;
$menu: #f48033;
$gray: #7f7f7f;

$light: rgb(250, 250, 250);
$dark: rgb(10, 10, 10);
$background: rgb(40, 40, 40);

$semi-transparent: rgba(0, 0, 0, 0.5);
$transparent: rgba(255, 255, 255, 0.2);
$red: rgba(255, 0, 0, 0.25);