// Breakpoints
$mobile: 'max-width: 768px';
$pc: 'min-width: 1280px';

// Fonts
$main-font: monospace;
$bold: 700;

$large: 5rem;
$standard: 1rem;
$thin: 0.1rem;

// Elements
$item-size: 7.69231vw;
$pc-item-size: 3.5rem;